<html>
<body onload="document.f.submit()">

<form name="f" method="post"
action="https://payments.airpay.co.in/pay/index.php">

<input type="hidden" name="mer_dom" value="{{merchant_id}}">
<input type="hidden" name="orderid" value="{{data.orderid}}">
<input type="hidden" name="amount" value="{{data.amount}}">
<input type="hidden" name="email" value="{{data.email}}">
<input type="hidden" name="checksum" value="{{checksum}}">
<input type="hidden" name="return_url" value="{{return_url}}">
<input type="hidden" name="failure_url" value="{{fail_url}}">

</form>

<h2>Redirecting to Secure Payment...</h2>

</body>
</html>