{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card" style="max-width: 1000px; margin: 0 auto;">
        <h2 class="section-title" style="text-align: left; margin-bottom: 2rem;">Terms & Conditions</h2>
        <p>By accessing our website, you agree to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.</p><br>
        <p>If you do not agree with any of these terms, you are prohibited from using or accessing this site.</p><br>
        <p>The materials contained in this website are protected by applicable copyright and trademark law.</p>
    </div>
</div>
{% endblock %}