body{
font-family:Poppins;
margin:0;
background:#f1f5f9;
}

.nav{
display:flex;
justify-content:space-between;
padding:20px 80px;
background:white;
box-shadow:0 4px 20px rgba(0,0,0,0.05);
}

.hero{
background:linear-gradient(90deg,#6366f1,#3b82f6);
color:white;
text-align:center;
padding:140px;
}

.container{
padding:80px;
}

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
}

.card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 15px 40px rgba(0,0,0,0.08);
}

.btn{
background:#6366f1;
color:white;
padding:12px;
border-radius:8px;
text-decoration:none;
display:block;
text-align:center;
margin-top:10px;
}

.footer{
background:#6366f1;
color:white;
text-align:center;
padding:30px;
margin-top:80px;
}