{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card" style="max-width: 1000px; margin: 0 auto;">
        <h2 class="section-title" style="text-align: left; margin-bottom: 2rem;">Cancellation & Refund Policy</h2>
        <p>We want you to be fully satisfied with our digital marketing courses.</p><br>
        <p>If you are not entirely satisfied with your purchase, we're here to help. You have 7 calendar days to ask for a refund from the date you received the course access.</p><br>
        <p>To be eligible for a refund, you must provide the payment receipt of purchase. Please contact us at myinaitsolutionspvtltd@gmail.com for assistance.</p>
    </div>
</div>
{% endblock %}